 ---
 ---
/*
.card-columns-custom {
  column-count: 2;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
  
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: 2;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}
*/

 /* Add your custom style here */
 /* import "portfolYOU"; */
